all:
  hosts:
    localhost:
      ansible_connection: local
      ansible_python_interpreter: "python3"
    webhook_site:
      ansible_host: "webhook.site"
      ansible_connection: httpapi
      ansible_httpapi_use_ssl: yes
      ansible_network_os: rockaut.conntest.conntest
      ansible_httpapi_validate_certs: true
